@using Components
@page "/catalog"
@inherits CatalogModel

<AddProductModal @ref="Modal"></AddProductModal>

<header class="py-5 bg-light border-bottom mb-4">
     <div class="container">
          <div class="text-center my-2">
               <h3 class="fw-bolder">Exchange catalog</h3>
          </div>
     </div>
</header>
<form>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Find product</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                </div>
            </div>
            <div class="col col-lg-2">
                <button type="submit" class="btn btn-primary">Search</button>
            </div>
        </div>
    </div>
</form>
<div class="row">

    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col"> 
                        <h3 class="card-title">Product List</h3>
                    </div>
                    <div class="col col-auto">
                        <button class="btn btn-primary" @onclick="() => Modal.Open()">Add product</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body table-responsive p-0" >
            <table class="table table-hover text-nowrap">
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Best Ask</th>
                        <th>Best Bid</th>
                    </tr>
                </thead>
                <tbody>
                @foreach (var product in products)
                        {
                        <tr>
                            <td>
                                <a href="/product/@product.Name/@product.Id"
                                    class="">
                                    @product.Name
                                </a>
                            </td>
                            <td>
                                @{
                                    var bestAsk = product.BestAsk == 0 ? "-" : product.BestAsk.ToString();
                                }
                                @bestAsk
                            </td>
                            <td>
                                 @{
                                    var bestBid = product.BestBid == 0 ? "-" : product.BestBid.ToString();
                                }
                                @bestBid
                            </td>
                        </tr>
                        }       
                  </tbody>
                
            </table>
        </div>
    </div>
</div>

