@page "/login"

@inherits LoginModel

<div class="row">
    <div class="col-md-6 offset-md-3">
        <h1>Login</h1>

        <EditForm Model="@LoginData" OnValidSubmit="LoginAsync">

            <DataAnnotationsValidator />
            <ValidationSummary />

            <label for="username">Username</label>
            <InputText id="username" @bind-Value="LoginData.UserName" class="form-control" />
            <label for="password">Password</label>
            <InputText type="password" id="password" @bind-Value="LoginData.Password" class="form-control" />
            <p class="my-4">
                <button type="submit" class="btn btn-primary">Log in</button>
            </p>
        </EditForm>
    </div>
</div>