@page "/portfolio"
@inherits PortfolioModel

<h3 class="fw-bolder">Overview</h3>

<hr>

<header class="py-5 bg-dark border-bottom mb-4">
    <div class="text-center my-2">
               <h4 class="fw-bolder" style="color: white">State</h4>
          </div>
    
     <div class="container">
            
              <div class="card-body table-responsive p-0" >
            <table class="table table-dark text-nowrap">
                <thead>
                    <tr>
                        <th>Total</th>
                        <th>Spent</th>
                        <th>Estimate</th>
                        <th>&#916;Abs</th>
                        <th>&#916;Rel</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            123
                        </td>
                        <td>
                            123
                        </td>
                        <td>
                            123
                        </td>
                        <td>
                            123
                        </td>
                        <td>
                            123
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
               Total spent earned estimate &#916;Abs &#916;Rel
          </div>
     
</header>

<h4 class="fw-bolder">Products</h4>
<table class="table table-hover text-nowrap">
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Total</th>
                        <th>Spent</th>
                        <th>Estimate</th>
                        <th>&#916;Abs</th>
                        <th>&#916;Rel</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>
                            Apple
                        </th>
                        <td>
                            123
                        </td>
                        <td>
                            123
                        </td>
                        <td>
                            123
                        </td>
                        <td>
                            123
                        </td>
                        <td>
                            123
                        </td>
                    </tr>
                </tbody>
            </table>
